/* ------- Introduction Section Start ------- */

main {
  position: relative;
  margin-bottom: 50px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  width: 50vw;
  margin-top: calc(30px + 0.3vh);
  padding: 30px 30px 30px 80px;
}

.intro-both {
  display: block;
}

.intro-alfie,
.intro-oreo {
  display: none;
}

.introduction p a {
  color: var(--dark-teal);
  text-decoration: none;
}

.introduction p a:hover {
  transition: 0.3s ease-out;
  color: var(--orange);
}

.introduction-title h2 {
  font-size: calc(36px + 0.3vw);
  color: var(--black-color);
}

.introduction-title h3 {
  font-size: calc(20px + 0.3vw);
  color: var(--black-color);
}

.introduction p {
  font-size: calc(18px + 0.3vw);
}

.contact-btn {
  background-color: var(--orange);
  border: none;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-text {
  display: block;
}

.btn-icon {
  display: none;
}

.contact-btn:hover {
  background-color: var(--white);
  color: var(--orange);
  outline: 1px solid var(--orange);
  transition: 0.3s ease-out;
  transform: scale(1.1);
}

/* ------- Introduction Section End ------- */

/* ------- Services Section Start ------- */

.services-skills,
.services-list,
.services-item {
  display: flex;
  flex-wrap: wrap;
}

.services-skills,
.services-list {
  flex-direction: column;
}

.services-list,
.services-item {
  gap: 10px;
}

.services-item p {
  font-size: calc(24px + 0.3vw);
}

.services-skills {
  gap: 70px;
  padding: 30px;
}

.ribbon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 60px;
  background-color: var(--dark-teal);
  transform: translate(-10%);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.services-title {
  color: var(--white);
  font-size: calc(26px + 0.3vw);
}

.service-skills.title,
.pawject.title,
.services-item {
  align-items: center;
}

.skills-oreo,
.skills-alfie {
  display: none;
}

.services-item img {
  width: 50px;
  height: 50px;
}

.services-list {
  margin-left: 3vw;
}

/* ------- Services Section End ------- */

/* ------- Pawjects Section Start ------- */

.pawjects {
  padding: 30px;
}

.pawjects-title {
  color: var(--white);
  font-size: calc(26px + 0.3vw);
}

.pawjects-container {
  margin-top: 70px;
  margin-left: 3vw;
  margin-right: 3vw;
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 450px));
  justify-content: center;
  align-items: center;
  gap: 3.2em;
}

.pawject {
  padding: calc(20px + 0.2vw);
  border-radius: 40px;
  text-decoration: none;
  color: var(--dark-teal);
}

.pawject-link {
  box-shadow: 6px 20px 18px -4px rgba(0, 0, 0, 0.6);
  border-radius: 40px;
  text-decoration: none;
}

.pawject-link:hover {
  transform: scale(1.05);
  transition: 0.3s ease-out;
}

.pawject-teal {
  border: 2px solid var(--teal);
  box-shadow: 0 15px 0px 0px var(--teal);
  background-color: var(--white);
}

.pawject-orange {
  border: 2px solid var(--orange);
  box-shadow: 0 15px 0px 0px var(--orange);
  background-color: var(--white);
}

.pawject,
.pawject-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pawject {
  flex-direction: column;
  gap: 10px;
  background-color: var(--white);
}

.pawject-title {
  font-size: clamp(18px, 24px, 30px);
}

.pawject-subtitle {
  color: var(--teal);
  font-size: clamp(16px, 18px, 20px);
}

.pawject-description {
  font-size: calc(13px + 0.3vw);
}

.pawject-skill-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(calc(100px + 0.2vw), 1fr));
  gap: 10px;
}

.pawject-skill {
  height: calc(20px + 1vh);
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--white);
  font-size: calc(12px + 0.2vw);
  text-align: center;
  word-wrap: break-word;
}

.btn-teal {
  background-color: var(--teal);
}

.btn-orange {
  background-color: var(--orange);
}

.pawject-icon {
  width: 50px;
  height: 50px;
}

.pawject-bone-icon {
  transform: rotate(-45deg);
}

/* ------- Pawjects Section End ------- */

/*------- Background Section Start ------- */

.background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.both-bois {
  display: block;
}

.alfie-solo-img,
.oreo-solo-img {
  display: none;
}

.background-img {
  width: clamp(30em, 45%, 80%);
  position: absolute;
  top: 0;
  left: 70vw;
}

@media only screen and (max-width: 1000px) {
  .both-bois {
    display: none;
  }

  .oreo-solo-img,
  .intro-oreo,
  .skills-oreo {
    display: block;
  }

  .services-item p {
    font-size: 22px;
  }

  .background-img {
    width: clamp(40%, 80%, 100%);
    position: absolute;
    top: calc(20px + 0.3vw);
    left: 55vw;
    transform: rotate(-7deg);
  }

  .alfie-solo-img,
  .intro-alfie,
  .skills {
    display: none;
  }

  .intro-both {
    display: none;
  }

  .btn-text {
    display: none;
  }

  .btn-icon {
    display: block;
  }

  .btn-icon:hover,
  .btn-icon:active {
    fill: var(--orange);
  }

  .contact-btn {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
  }

  .pawjects-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 3em 2em;
  }

  .pawject-skill-container {
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    gap: 1em;
  }
}

/*------- Tablet Media Query End ------- */

/*------- Mobile Media Query Start ------- */

@media only screen and (max-width: 600px) {
  .oreo-solo-img,
  .intro-oreo,
  .skills-oreo {
    display: none;
  }

  .alfie-solo-img,
  .intro-alfie,
  .skills-alfie {
    display: block;
    font-size: 20px;
  }

  .background-img {
    top: 0;
    left: 45vw;
    transform: none;
  }

  .introduction {
    padding: 20px 20px 20px 30px;
    width: 39vw;
  }

  .pawjects-container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

/*------- Mobile Media Query End ------- */
