/* ------- fonts and global stuff start ------- */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --dark-teal: #126e82;
  --teal: #51c4d3;
  --orange: #f9b94f;
  --black-color: #132c33;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background: url("../assets/icons/background.svg");
  background-repeat: repeat;
}

/* ------- fonts and global stuff end------- */

/* ------- Pawjects Section Start ------- */

main {
  display: flex;
  flex-direction: column;
}

.pawjects {
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.pawjects-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-teal);
  width: 350px;
  height: 60px;
  background-color: var(--dark-teal);
  color: var(--white);
  border-radius: 30px;
  font-size: 36px;
}

.pawjects-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 60vw));
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.pawject-card {
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
  border-radius: 30px;
  padding: 5px;
  gap: 10px;
  box-shadow: 6px 10px 18px -4px rgba(0, 0, 0, 0.4);
}

.teal-card {
  border: 2px solid var(--teal);
  background-color: var(--teal);
}

.orange-card {
  border: 2px solid var(--orange);
  background-color: var(--orange);
}

.pawject-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  background-color: var(--white);
  border-radius: 30px;
  padding: 10px;
}

.pawject-logo-section {
  display: flex;
}

.teal-logo {
  justify-content: start;
  align-items: start;
}

.orange-logo {
  justify-content: end;
  align-items: end;
}

.pawject-icon {
  width: 50px;
  height: 50px;
}

.pawject-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: calc(30px + 0.3vw);
  padding-right: calc(30px + 0.3vw);
}

.pawject-name {
  font-size: 36px;
}

.pawject-subtitle {
  font-size: 24px;
  color: var(--dark-teal);
}

.pawject-description {
  margin-top: 15px;
}

.pawject-skill-container {
  margin-top: 30px;
}

.pawject-skill-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  justify-content: center;
  gap: 20px;
}

.pawject-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(20px + 1vh);
  padding: 8px 10px;
  border-radius: 10px;
  color: var(--white);
  font-size: calc(14px + 0.2vw);
  text-align: center;
  word-wrap: break-word;
}

.btn-teal {
  background-color: var(--teal);
}

.btn-orange {
  background-color: var(--orange);
}

.pawject-media {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.pawject-media picture {
  border-radius: 30px;
  overflow: hidden;
}

.pawject-image {
  width: 100%;
  object-fit: cover;
  height: 350px;
}

.pawject-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.github-logo,
.link-logo {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.github-logo:hover,
.link-logo:hover {
  transition: 0.3s ease-out;
  transform: scale(1.2);
}

/*------- Pawjects Section End ------- */

/*------- Background Start --------*/

.background {
  position: relative;
  width: 100%;
  height: calc(500px + 5vh);
  overflow: hidden;
}

.background .alfie {
  height: clamp(300px, 65vh, 80vh);
  z-index: -10;
  position: absolute;
  bottom: calc(-100px + -3vh);
  left: calc(-100px + -3vw);
}

.background .oreo {
  height: clamp(40em, 60em, 80em);
  z-index: -10;
  position: absolute;
  bottom: calc(-300px + -1vh);
  right: calc(-300px + -0.5vw);
}

.both-bois-pawjects {
  display: block;
}

/*------- Background End --------*/

/*------- Tablet Media Queries Start --------*/

@media only screen and (max-width: 1000px) {
  .pawjects-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }

  .pawject-card.orange-card {
    flex-direction: column-reverse;
  }

  .pawject-card.teal-card {
    flex-direction: column;
  }

  .pawject-card.orange-card > .pawject-media {
    flex-wrap: nowrap;
  }

  .background {
    height: calc(400px + 1vh);
  }

  .background .alfie {
    display: none;
  }

  .background .oreo {
    height: clamp(40em, 50em, 60em);
    bottom: calc(-300px + -1vh);
  }
}

/*------- Tablet Media Queries End --------*/

/*------- Mobile Media Query Start ------- */

@media only screen and (max-width: 600px) {
  .background .alfie {
    display: block;
    height: clamp(300px, calc(300px + 10vh), 55vh);
    bottom: calc(-40px + -3vh);
  }

  .pawjects {
    padding: 20px;
    gap: 10px;
  }

  .pawject-card {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .pawjects-title {
    width: 250px;
    font-size: 28px;
  }

  .pawject-logo-section {
    justify-content: center;
    align-items: center;
  }

  .pawject-skill-container {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  .background-img {
    top: -50px;
    left: 45vw;
    transform: none;
  }

  .introduction {
    padding: 20px 20px 20px 30px;
    width: 39vw;
  }
}

/*------- Mobile Media Query End ------- */
