/* Consider creating more style files for specific parts, i.e. header.css etc */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  width: 100vw;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
}
