/* Consider creating more style files for specific parts, i.e. header.css etc */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --dark-teal: #126e82;
  --teal: #51c4d3;
  --orange: #f9b94f;
  --black-color: #132c33;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

/* ------- Header Section Start ------- */

header,
.logo-section,
.logo-section h1,
.header-nav,
.nav-list {
  display: flex;
  flex-wrap: wrap;
}

.logo-section h1,
.header-nav {
  flex-direction: column;
  justify-content: center;
}

header {
  justify-content: space-between;
  padding: 30px;
}

.logo-section {
  justify-content: start;
}

.logo-section img {
  width: calc(70px + 0.3vw);
}

.logo-section h1 {
  font-size: clamp(25px, calc(35px + 0.3vw), 48px);
}

.logo-section h1 a {
  text-decoration: none;
  color: var(--dark-teal);
}

.header-image {
  width: 100px;
}

.nav-list {
  gap: 20px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav-list a {
  text-decoration: none;
  color: var(--dark-teal);
  font-size: clamp(18px, 24px, calc(24px + 0.3vw));
}

.nav-list a:hover {
  transition: 0.3s ease-out;
  color: var(--orange);
}

.hamburger-menu {
  display: none;
  fill: var(--dark-teal);
}

.line {
  color: var(--teal);
}

/* ------- Header Section End ------- */

/* ------- Introduction Section Start ------- */

main {
  position: relative;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  width: 50vw;
  margin-top: calc(30px + 0.3vh);
  padding: 30px 30px 30px 80px;
}

.intro-both {
  display: block;
}

.intro-alfie,
.intro-oreo {
  display: none;
}

.introduction p a {
  color: var(--dark-teal);
  text-decoration: none;
}

.introduction p a:hover {
  transition: 0.3s ease-out;
  color: var(--orange);
}

.introduction-title h2 {
  font-size: calc(36px + 0.3vw);
  color: var(--black-color);
}

.introduction-title h3 {
  font-size: calc(20px + 0.3vw);
  color: var(--black-color);
}

.introduction p {
  font-size: calc(18px + 0.3vw);
}

.contact-btn {
  background-color: var(--orange);
  border: none;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-text {
  display: block;
}

.btn-icon {
  display: none;
}

.contact-btn:hover {
  background-color: var(--white);
  color: var(--orange);
  outline: 1px solid var(--orange);
  transition: 0.3s ease-out;
  transform: scale(1.1);
}

/* ------- Introduction Section End ------- */

/* ------- Services Section Start ------- */

.services-skills,
.services-list,
.services-item {
  display: flex;
  flex-wrap: wrap;
}

.services-skills,
.services-list {
  flex-direction: column;
}

.services-list,
.services-item {
  gap: 10px;
  font-size: calc(24px + 0.3vw);
}

.services-skills {
  gap: 70px;
  padding: 30px;
}

.ribbon {
  position: absolute;
  z-index: -1;
  display: flex;
  align-items: center;
  width: clamp(300px, 40%, 100%);
  height: 60px;
  background-color: var(--dark-teal);
  transform: translate(-10%, -25%);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.services-title,
.pawjects-title {
  color: var(--white);
  font-size: calc(26px + 0.3vw);
}

.service-skills.title,
.pawject.title,
.services-item {
  align-items: center;
}

.skills-oreo,
.skills-alfie {
  display: none;
}

.services-item img {
  width: 50px;
  height: 50px;
}

.services-list {
  margin-left: 3vw;
}

/* ------- Services Section End ------- */

/* ------- Pawjects Section Start ------- */

.pawjects {
  padding: 30px;
}

.pawjects > h2 {
  color: var(--white);
}

.pawjects-container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 4em;
}

.pawject {
  padding: 30px;
  border-radius: 40px;
}

.pawject-teal {
  border: 2px solid var(--teal);
  box-shadow: 0 15px 0px 0px var(--teal);
  background-color: var(--white);
}

.pawject-orange {
  border: 2px solid var(--orange);
  box-shadow: 0 15px 0px 0px var(--orange);
  background-color: var(--white);
}

.pawject-content,
.pawject-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pawject-content {
  flex-direction: column;
  gap: 10px;
  background-color: var(--white);
}

.pawject-title {
  font-size: 24px;
}

.pawject-definition {
  color: var(--teal);
}

.pawject-skill-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  justify-content: center;
  gap: 20px;
}

.pawject-skill {
  width: 120px;
  height: 30px;
  border-radius: 10px;
  color: var(--white);
}

.btn-teal {
  background-color: var(--teal);
}

.btn-orange {
  background-color: var(--orange);
}

.pawject-icon {
  width: 50px;
  height: 50px;
}

.pawject-bone-icon {
  transform: rotate(-45deg);
}

/* ------- Pawjects Section End ------- */

/*------- Background Section Start ------- */

.background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.both-bois {
  display: block;
}

.alfie-solo-img,
.oreo-solo-img {
  display: none;
}

.background-img {
  width: clamp(30em, 45%, 80%);
  position: absolute;
  top: 0;
  left: 70vw;
}

/*------- Background Section End ------- */

/* ------- Footer Section Start ------- */

footer,
.footer-contact,
.phone-info,
.email-info,
.phone-info p,
.email-info p,
.footer-logo,
.footer-socials,
.socials-container,
.socials {
  display: flex;
  flex-wrap: wrap;
}

.footer-contact,
.phone-info p,
.email-info p,
.footer-logo,
.footer-socials,
.socials-container {
  flex-direction: column;
}

.phone-info p,
.email-info p,
.footer-logo {
  justify-content: center;
}

.footer-logo,
.socials-container {
  align-items: center;
}

.footer-contact,
.footer-logo,
.footer-socials {
  flex: 1;
}

.phone-info img,
.email-info img,
.socials-logo {
  width: 25px;
  height: 25px;
}

.phone-info,
.email-info,
.footer-logo,
.socials-container,
.socials {
  gap: 15px;
}

footer {
  margin-top: 50px;
  background-color: var(--dark-teal);
  color: var(--white);
  padding: 30px;
}

.footer-contact {
  gap: 20px;
}

.blogger-logo {
  width: 100px;
  height: 100px;
}

.footer-logo h2 {
  font-size: 48px;
}

.footer-socials {
  align-items: end;
}

.blogger-logo,
.socials-logo {
  cursor: pointer;
}

.blogger-logo:hover,
.socials-logo:hover {
  transform: scale(1.1);
  transition: 0.3s ease-out;
}

/* ------- Footer Section End ------- */

/* -------- MEDIA QUERIES -------- */

@media only screen and (max-width: 900px) {
  header {
    justify-content: center;
  }

  .both-bois {
    display: none;
  }

  .oreo-solo-img,
  .intro-oreo,
  .skills-oreo {
    display: block;
  }

  .background-img {
    width: clamp(40%, 80%, 100%);
    position: absolute;
    top: calc(20px + 0.3vw);
    left: 55vw;
    transform: rotate(-7deg);
  }

  .alfie-solo-img,
  .intro-alfie,
  .skills {
    display: none;
  }

  .header-image {
    display: none;
  }

  .header-nav {
    margin-top: 1.2em;
  }

  .intro-both {
    display: none;
  }

  .btn-text {
    display: none;
  }

  .btn-icon {
    display: block;
  }

  .btn-icon:hover,
  .btn-icon:active {
    fill: var(--orange);
  }

  .contact-btn {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .oreo-solo-img,
  .intro-oreo,
  .skills-oreo,
  .nav-list {
    display: none;
  }

  .alfie-solo-img,
  .intro-alfie,
  .skills-alfie,
  .hamburger-menu {
    display: block;
  }

  .background-img {
    top: -50px;
    left: 45vw;
    transform: none;
  }

  header {
    padding: 20px;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
  }

  .hamburger-menu {
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;
  }

  .hamburger-menu:hover,
  .hamburger-menu:active {
    fill: var(--orange);
  }

  .logo-section {
    flex-direction: row;
    justify-content: flex-start;
  }

  .introduction {
    padding: 20px 20px 20px 30px;
    width: 39vw;
  }
}
